root = true

[*.cs]
end_of_line = crlf
indent_size = 4
indent_style = tab
insert_final_newline = false
csharp_indent_block_contents = true:error
csharp_indent_braces = false:error
csharp_indent_case_contents = true:error
csharp_indent_labels = one_less_than_current:error
csharp_indent_switch_labels = true:error
csharp_new_line_before_catch = true:error
csharp_new_line_before_else = true:error
csharp_new_line_before_finally = true:error
csharp_new_line_before_members_in_anonymous_types = true:none
csharp_new_line_before_members_in_object_initializers = true:none
csharp_new_line_before_open_brace = all:error
csharp_new_line_between_query_expression_clauses = true:none
csharp_prefer_braces = false:suggestion
csharp_prefer_simple_default_expression = true:error
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:error
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false
csharp_space_after_cast = false:error
csharp_space_after_colon_in_inheritance_clause = true:error
csharp_space_after_comma = true:error
csharp_space_after_dot = false:error
csharp_space_after_keywords_in_control_flow_statements = true:error
csharp_space_after_semicolon_in_for_statement = true:error
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = do_not_ignore
csharp_space_before_colon_in_inheritance_clause = true:error
csharp_space_before_comma = false:error
csharp_space_before_dot = false:error
csharp_space_before_open_square_brackets = false:error
csharp_space_before_semicolon_in_for_statement = false:error
csharp_space_between_empty_square_brackets = false:error
csharp_space_between_method_call_empty_parameter_list_parentheses = false:error
csharp_space_between_method_call_name_and_opening_parenthesis = false:error
csharp_space_between_method_call_parameter_list_parentheses = false:error
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false:error
csharp_space_between_method_declaration_name_and_open_parenthesis = false:error
csharp_space_between_method_declaration_parameter_list_parentheses = false:error
csharp_space_between_parentheses = none:error
csharp_space_between_square_brackets = false:error
csharp_style_conditional_delegate_call = true:error
csharp_style_expression_bodied_accessors = true:error
csharp_style_expression_bodied_constructors = true:error
csharp_style_expression_bodied_indexers = true:error
csharp_style_expression_bodied_methods = true:error
csharp_style_expression_bodied_operators = true:error
csharp_style_expression_bodied_properties = true:error
csharp_style_inlined_variable_declaration = true:error
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:error
csharp_style_pattern_matching_over_is_with_cast_check = true:error
csharp_style_throw_expression = true:error
csharp_style_var_elsewhere = true:error
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
dotnet_sort_system_directives_first = true:error
dotnet_style_coalesce_expression = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_style_null_propagation = true:error
dotnet_style_object_initializer = true:error
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error
dotnet_style_qualification_for_event = false:error
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_require_accessibility_modifiers = always:error

dotnet_naming_style.PascalCase.capitalization = pascal_case
dotnet_naming_style.camelCase.capitalization = camel_case

dotnet_naming_rule.private_fields.severity = error
dotnet_naming_rule.private_fields.symbols = private_field_symbol
dotnet_naming_rule.private_fields.style = _camelCase
dotnet_naming_symbols.private_field_symbol.applicable_kinds = field
dotnet_naming_symbols.private_field_symbol.applicable_accessibilities = private
dotnet_naming_style._camelCase.required_prefix = _
dotnet_naming_style._camelCase.capitalization = camel_case

dotnet_naming_rule.non_private_fields.severity = error
dotnet_naming_rule.non_private_fields.symbols = non_private_field_symbol
dotnet_naming_rule.non_private_fields.style = PascalCase
dotnet_naming_symbols.non_private_field_symbol.applicable_kinds = field
dotnet_naming_symbols.non_private_field_symbol.applicable_accessibilities = public,internal,friend,protected,protected_internal,protected_friend

dotnet_naming_rule.parameters.severity = error
dotnet_naming_rule.parameters.symbols = parameter_symbol
dotnet_naming_rule.parameters.style = camelCase
dotnet_naming_symbols.parameter_symbol.applicable_kinds = parameter

dotnet_naming_symbols.non_interface_type_symbol.applicable_kinds = class,struct,enum,delegate
dotnet_naming_rule.non_interface_types.severity = error
dotnet_naming_rule.non_interface_types.symbols = non_interface_type_symbol
dotnet_naming_rule.non_interface_types.style = PascalCase

dotnet_naming_rule.interface.severity = error
dotnet_naming_rule.interface.symbols = interface_type_symbol
dotnet_naming_rule.interface.style = IPascalCase
dotnet_naming_symbols.interface_type_symbol.applicable_kinds = interface
dotnet_naming_style.IPascalCase.capitalization = pascal_case
dotnet_naming_style.IPascalCase.required_prefix = I

dotnet_naming_rule.members.severity = error
dotnet_naming_rule.members.symbols = member_symbol
dotnet_naming_rule.members.style = PascalCase
dotnet_naming_symbols.member_symbol.applicable_kinds = method,property,event
